/* ================== NEW FEEDBACK STYLING =============== */

.new_feedback {
  width: 100%;
  position: relative;
}

/* ------ SUCCESS MODAL ------ */

.success_modal {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: #fff;
}

/* SUCCESS MARK STYLING AND ANIIMATION */

.success_mark {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #48a44c;
  margin-bottom: 24px;
  position: relative;
  opacity: 0;
  transform: scale(0);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  animation: showUp 0.3s ease 50ms 1 forwards;
}

@keyframes showUp {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.success_mark svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: bottom left;
  color: #fff;
  font-size: 42px;
  animation: checkAnimation 0.2s ease-in 0.15s 1 forwards;
}

@keyframes checkAnimation {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.success_modal h3 {
  font-size: 24px;
  color: #404b69;
  margin-bottom: 5px;
}

.success_modal p {
  font-size: 16px;
  color: #565865;
  margin-bottom: 20px;
}

/* CLOSE BUTTON STYLING */

.close_btn {
  height: 45px;
  width: 150px;
  color: #fff;
  background-color: #8870c9;
  border-radius: 5px;
}

.close_btn:hover,
.close_btn:active {
  background-color: #7d67b8;
}
